{% extends "layout.html" %}

{% block pageTitle %}
User research programme
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}

<section class="gc-hero gc-hero--image gc-hero--image-description">
  <div class="gc-hero__overlay">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="gc-hero-content">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Help us to improve <br> our services and websites</h1>
            <p class="govuk-body govuk-!-margin-bottom-0">The User Research Programme enables you to try out new
              services provided by the Gambling Commission and give feedback to help improve them.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}

<section class="gc-section govuk-!-padding-top-9 govuk-!-padding-bottom-6">

  <div class="govuk-width-container">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">What is the User Research Programme?</h2>
        <p class="govuk-body">We are working on a number of projects to improve the accessibility and usability of the
          digital services and websites we provide.</p>
        <p class="govuk-body">We need people to try out new services and provide feedback to us.</p>

      </div>
      <div class="govuk-grid-column-one-half gc-text-right">
        <img src="/public/images/postit.jpg" style="width:80%; border: 5px solid #aeaeae;">
      </div>
    </div>

  </div>

  </div>

</section>


<section class="gc-section gc-section--alt govuk-!-padding-top-9  govuk-!-padding-bottom-6">

  <div class="govuk-width-container">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">What's involved?</h2>
        <p class="govuk-body">You register to become a research participant.</p>
        <p class="govuk-body">We'll contact you when we have services or features we need feedback on.</p>
        <p class="govuk-body">You do testing in your own time and provide feedback to us.</p>
        <p class="govuk-body">Feedback can be online, over the phone or in some cases, face to face.</p>
        <p class="govuk-body">We then use this feedback to make changes or improvements to our services.</p>
        <p class="govuk-body">We'll always provide full information about the research opportunities, and you can choose whether to take part or not.</p>
      </div>
      <div class="govuk-grid-column-one-half gc-text-right">
        <img src="/public/images/feedback.jpg" style="width:80%; border: 5px solid #aeaeae;">
      </div>
    </div>

  </div>

  </div>

</section>



<section class="gc-section govuk-!-padding-top-9 govuk-!-padding-bottom-6">

  <div class="govuk-width-container">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">How long does participation take?</h2>
        <p class="govuk-body">Testing is done in your own time, in some cases it could be 10 minutes, others could be an
          hour or two.</p>
        <p class="govuk-body">All participation is voluntary, you can choose not to participate, or you can stop at any time.</p>
      </div>
      <div class="govuk-grid-column-one-half  gc-text-right">
        <img src="/public/images/review.jpg" style="width:80%; border: 5px solid #aeaeae;">
      </div>
    </div>

  </div>

  </div>

</section>

<section class="gc-section gc-section--alt govuk-!-padding-top-9  govuk-!-padding-bottom-6">

  <div class="govuk-width-container">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Register as a participant</h2>
        <p class="govuk-body">By becoming a participant and giving feedback, you'll be helping to make Gambling Commission services better.</p>
                <p class="govuk-body govuk-!-padding-bottom-6">It takes about 2 minutes to register.</p>

                <a href="/register" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Register
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                  </a>
      </div>
     
    </div>

  </div>

  </div>

</section>

{% endblock %}