{% extends "layout.html" %}

{% block pageTitle %}
Register
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}



{% endblock %}



{% block content %}

<section class="gc-section">

  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Check your answers</h1>
        <p class="govuk-body">Make sure everything is correct before submitting your details.</p>



        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['first-name']}} {{data['last-name']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Role
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['describe']}}

              {% if data['describe'] === 'Other' %}
              - {{data['describe-other']}}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-profile">
                Change<span class="govuk-visually-hidden"> your description</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licensed
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['licensed']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-gambling">
                Change<span class="govuk-visually-hidden"> are your licensed?</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Method
            </dt>
            <dd class="govuk-summary-list__value">

              {% for item in methodlist %}
              {{item}}
              {% if not loop.last %}
              <br>
              {% endif %}
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-method">
                Change<span class="govuk-visually-hidden"> method of participation</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['email']}}
              <br />
              {{data['telephone-number']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-contact">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Source
            </dt>
            <dd class="govuk-summary-list__value">

              {% for item in sourceList %}
              {{item}}

              {% if item === 'Other' %}
              - {{data['source-other']}}
              {% endif %}

              {% if not loop.last %}
              <br>
              {% endif %}
              {% endfor %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-source">
                Change<span class="govuk-visually-hidden"> source</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['country']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-location">
                Change<span class="govuk-visually-hidden"> location</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Equipment
            </dt>
            <dd class="govuk-summary-list__value">

              {% for item in equipmentList %}
              {{item}}

              {% if item === 'Other' %}
              - {{data['equipment-other']}}
              {% endif %}

              {% if not loop.last %}
              <br>
              {% endif %}
              {% endfor %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-assist">
                Change<span class="govuk-visually-hidden"> equipment</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ability
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['tech']}}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-tech">
                Change<span class="govuk-visually-hidden"> your technical ability</span>
              </a>
            </dd>
          </div>

        </dl>
      </div>
      <div class="govuk-grid-column-two-thirds">

        <form method="POST">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Now submit your registration</h2>
          <p class="govuk-body">By submitting this information you are agreeing to your details being used by the
            Gambling Commission to contact you about user research participation.</p>
            <p class="govuk-body">You'll receive an email confirming your registration, please ensure your email address is correct.</p>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Submit registration
          </button>

        </form>

      </div>
    </div>

  </div>

</section>

{% endblock %}