{% extends "layout.html" %}

{% block pageTitle %}
Register
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}



{% endblock %}
{% block beforeContent %}<a href="/register-optional" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<section class="gc-section">

    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% if err %}
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                    data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% if tech %}
                            <li>
                                <a href="#first-name">Select an option</a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
                {% endif %}

                <form method="POST">

                    <div class="govuk-form-group {% if tech %}govuk-form-group--error{% endif %}">
                        <fieldset class="govuk-fieldset" aria-describedby="tech-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-padding-bottom-4">
                                <h1 class="govuk-fieldset__heading">
                                    When thinking about technology, are you:
                                </h1> 
                            </legend>
                            {% if tech %}
                            <span id="changed-name-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Select an option
                            </span>
                            {% endif %}
                            <div class="govuk-radios">       
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="tech-7" name="tech" type="radio"
                                        value="I am an expert with technology" {{ checked("tech", "I am an expert with technology") }}>
                                    <label class="govuk-label govuk-radios__label" for="tech-7">
                                       I am an expert with technology
                                    </label>
                                </div>                                                          
                                <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="tech-2" name="tech" type="radio"
                                            value="My family come to me to sort the TV out"  {{ checked("tech", "My family come to me to sort the TV out") }}>
                                        <label class="govuk-label govuk-radios__label" for="tech-2">
                                            My family come to me to sort the TV out
                                        </label>
                                    </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="tech-3" name="tech" type="radio"
                                        value="I ask my family to sort the TV out"  {{ checked("tech", "I ask my family to sort the TV out") }}>
                                    <label class="govuk-label govuk-radios__label" for="tech-3">
                                        I ask my family to sort the TV out
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="tech-4" name="tech" type="radio"
                                        value="I would rather avoid any technology if I can help it"  {{ checked("tech", "I would rather avoid any technology if I can help it") }}>
                                    <label class="govuk-label govuk-radios__label" for="tech-4">
                                        I would rather avoid any technology if I can help it
                                    </label>
                                </div>
                               
                        </fieldset>
                    </div>


                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                </form>

            </div>
        </div>

    </div>

</section>

{% endblock %}