{% extends "layout.html" %}

{% block pageTitle %}
Register
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}



{% endblock %}

{% block content %}

<section class="gc-section">

    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% if err %}
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                          There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                          <ul class="govuk-list govuk-error-summary__list">
                              {% if err_first_name %}
                            <li>
                              <a href="#first-name">Enter your first name</a>
                            </li>
                            {% endif %}
                            {% if err_last_name %}
                            <li>
                              <a href="#last-name">Enter your last name</a>
                            </li>
                            {% endif %}
                          </ul>
                        </div>
                      </div>
                {% endif %}
               
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Registration</h1>
                    <p class="govuk-body">We'll ask you a few questions to make sure we offer you the right research opportunities.</p>

                    <h2 class="govuk-heading-m">Whats your name?</h2>
                <form method="POST">

                    <div class="govuk-form-group {% if err_first_name %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label  govuk-!-width-one-half" for="first-name">
                            First name
                        </label>
                        {% if err_first_name %}
                        <span id="event-name-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Enter your first name
                              </span>
                            
                        {% endif %}
                        <input class="govuk-input  govuk-!-width-one-half  {% if err_first_name %}govuk-input--error{% endif %}" id="first-name" name="first-name"
                            type="text" value="{{data['first-name']}}">
                    </div>

                    <div class="govuk-form-group {% if err_last_name %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label  govuk-!-width-one-half" for="last-name">
                            Last name
                        </label>
                        {% if err_last_name %}
                        <span id="event-name-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Enter your last name
                              </span>
                            
                        {% endif %}
                        <input class="govuk-input govuk-!-width-one-half  {% if err_last_name %}govuk-input--error{% endif %}" id="last-name" name="last-name"
                            type="text" value="{{data['last-name']}}">
                    </div>

                  
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                </form>

            </div>
        </div>

    </div>

</section>

{% endblock %}