{% extends "layout.html" %}

{% block pageTitle %}
Register
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}



{% endblock %}
{% block beforeContent %}<a href="/register-location" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<section class="gc-section">

    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% if err %}
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                    data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% if equipment %}
                            <li>
                                <a href="#first-name">Select an option</a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
                {% endif %}


                <form method="POST">

                    <div class="govuk-form-group {% if err %}govuk-form-group--error{% endif %}">
                        <fieldset class="govuk-fieldset" aria-describedby="equipment-conditional-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    Do you use any of the following equipment when using the internet?
                                </h1>
                            </legend>
                            <span id="equipment-conditional-hint" class="govuk-hint">
                                Select all options that are relevant to you.
                            </span>
                            <p class="govuk-body">We ask for this information to ensure that we are testing with users who use our services in different ways.</p>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="equipment-conditional" name="equipment"
                                        type="checkbox" value="Screen magnifier"
                                        data-aria-controls="conditional-equipment-conditional"
                                        {{ checked("equipment", "Screen magnifier") }}>
                                    <label class="govuk-label govuk-checkboxes__label" for="equipment-conditional">
                                        Screen magnifier
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="equipment-conditional-2" name="equipment"
                                        type="checkbox" value="Screen reader"
                                        data-aria-controls="conditional-equipment-conditional-2"                                        
                                        {{ checked("equipment", "Screen reader") }}>
                                    <label class="govuk-label govuk-checkboxes__label" for="equipment-conditional-2">
                                        Screen reader
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="equipment-conditional-3" name="equipment"
                                        type="checkbox" value="Voice control software"
                                        data-aria-controls="conditional-equipment-conditional-3"
                                        {{ checked("equipment", "Voice control software") }}>
                                    <label class="govuk-label govuk-checkboxes__label" for="equipment-conditional-3">
                                        Voice control software
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="equipment-conditional-4" name="equipment" 
                                        type="checkbox" value="Adjust colour or contrast" 
                                        data-aria-controls="conditional-equipment-conditional-4"
                                        
                                        {{ checked("equipment", "Adjust colour or contrast") }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="equipment-conditional-4">
                                          Adjust colour or contrast
                                        </label>
                                      </div>


                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="equipment-conditional-5" name="equipment"
                                        type="checkbox" value="Other"
                                        data-aria-controls="conditional-equipment-conditional-5"
                                        
                                        {{ checked("equipment", "Other") }}>
                                    <label class="govuk-label govuk-checkboxes__label" for="equipment-conditional-5">
                                        Other
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                    id="conditional-equipment-conditional-5">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="equipment-other">
                                            Details of equipment used
                                        </label>
                                        <input class="govuk-input" id="equipment-other" name="equipment-other"
                                            type="text" value="{{data['equipment-other']}}">
                                    </div>

                                </div>
                                <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="equipment-conditional-6" name="equipment" 
                                        type="checkbox" value="None" 
                                        data-aria-controls="conditional-equipment-conditional-6"
                                        
                                        
                                        {{ checked("equipment", "None") }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="equipment-conditional-6">
                                          None of the above
                                        </label>
                                      </div>
                            </div>
                        </fieldset>
                    </div>




                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                </form>

            </div>
        </div>

    </div>

</section>

{% endblock %}