{% extends "layout.html" %}

{% block pageTitle %}
Register
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}



{% endblock %}
{% block beforeContent %}<a href="/register-contact" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<section class="gc-section">

    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l govuk-!-margin-bottom-3"><span class="govuk-visually-hidden">Do you consider yourself to have a disability?</span> This page is optional</h1>
                <p class="govuk-body">Understanding our users is important for us, it helps us ensure we design and
                    build services that work for everyone.</p>

                <p class="govuk-body">If you do not want to provide this information, you can <a href="/register-check">
                        skip this page
                    </a>.
                </p>

                <form method="POST">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="disabled-conditional-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    Do you consider yourself to have a disability?
                                </h1>
                            </legend>
                            <span id="disabled-conditional-hint" class="govuk-hint">
                                Select one option.
                            </span>
                            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="disabled-conditional"
                                        name="disabled" type="radio" value="Yes"
                                        data-aria-controls="conditional-disabled-conditional" {{ checked("disabled", "Yes") }}>
                                    <label class="govuk-label govuk-radios__label" for="disabled-conditional">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="conditional-disabled-conditional">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="more-detail">
                                            Could you tell us more about your disability?
                                        </label>
                                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                                            aria-describedby="more-detail-hint">{{data['more-detail']}}</textarea>
                                    </div>

                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="disabled-conditional-2"
                                        name="disabled" type="radio" value="No"
                                        data-aria-controls="conditional-disabled-conditional-2" {{ checked("disabled", "No") }}>
                                    <label class="govuk-label govuk-radios__label" for="disabled-conditional-2">
                                        No
                                    </label>
                                </div>


                            </div>
                        </fieldset>
                    </div>


                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>



                </form>

            </div>
        </div>

    </div>

</section>

{% endblock %}