{% extends "layout.html" %}

{% block pageTitle %}
Register
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}



{% endblock %}



{% block content %}

<section class="gc-section">

  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Check your answers</h1>
        <p class="govuk-body">Make sure everything is correct before submitting your details.</p>



        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['first-name']}} {{data['last-name']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Role
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['describe']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-profile">
                Change<span class="govuk-visually-hidden"> your description</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licensed
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['licensed']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-gambling">
                Change<span class="govuk-visually-hidden"> are your licensed?</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['email']}}
              <br />
              {{data['telephone-number']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-contact">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disability
            </dt>
            <dd class="govuk-summary-list__value">

              {% if data['disabled'] === undefined %}
              Skipped
              {% else %}
              {{data['disabled']}}
              {% if data['disabled'] === 'Yes' %}
              <br />{{data['more-detail']}}
              {% endif %}
              {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-optional">
                Change<span class="govuk-visually-hidden"> disability</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
      <div class="govuk-grid-column-two-thirds">

        <form method="POST">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Now submit your registration</h2>
          <p class="govuk-body">By submitting this information you are agreeing to:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>your details being used to contact you about user research participation</li>
            <li>your participation in user research relating to services provided by the Gambling Commission</li>
          </ul>


          <button type="submit" class="govuk-button" data-module="govuk-button">
            Submit registration
          </button>

        </form>

      </div>
    </div>

  </div>

</section>

{% endblock %}